.alfa{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #52554c;
  margin-top: 8px;
  border-radius: 5px;
  padding-bottom: 15px; 
  position: relative;
}

/* Grilla (bordes internos) */
.horas1{
  display: flex;
}
.header1 {
  padding: 1.1px 0;
  border-radius: 2px;
  width: 30px;
  color: #fff;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #aaa;
}

/* Grilla (franja horaria) */
.celdas{
  width: 100%;
  height: 100%;
  background-color: #9c9789;
  display: grid;
  grid-template-columns: repeat(16, 31.6px);
  position: absolute; 
  top: 0; 
  z-index: 1;
}

/* LUNES */
.grid-container-lun {
  grid-column: 7/11;
  grid-row: 1;
  background-color: #2a5663;
  border-radius: 4px;
}
.grid-container-lun-aux {
  grid-column: 13/17;
  grid-row: 1;
  background-color: #2a5663;
  border-radius: 4px;
  }

/* MARTES */
.grid-container-mar {
  grid-column: 3/6;
  grid-row: 2;
  background-color: #642b00;
  border-radius: 4px;
}
.grid-container-mar-aux {
  grid-column: 12/15;
  grid-row: 2;
  background-color: #642b00;
  border-radius: 4px;
}

/* MIERCOLES */
.grid-container-mie {
  grid-column: 5/9;
  grid-row: 3;
  background-color: #7f623a;
  border-radius: 4px;
}

/* JUEVES */
.grid-container-jue {
  grid-column: 3/6;
  grid-row: 4;
  background-color: #334537;
  border-radius: 4px;
}
.grid-container-jue-aux {
  grid-column: 9/13;
  grid-row: 4;
  background-color: #334537;
  border-radius: 4px;
}

/* VIERNES */
  .grid-container-vie {
  grid-column: 11/15;
  grid-row: 5;
  background-color: #462b37;
  border-radius: 4px;
  }
